html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #eee7dd;
}

.main-footer {
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: #777;
}

.site-body {
	width: 100%;
}

.new-testament {
	margin: 0 auto;
}

.new-testament li {
	line-height: 22px;
}

.new-testament .inner-container {
	width: 45%;
	margin: 2%;
	float: left;
}

.old-testament {
	margin: 0 auto;
	font-size: 0.9em;
}

.old-testament li {
	line-height: 22px;
}

.old-testament .inner-container {
	width: 29%;
	margin: 2%;
	float: left;
}

.home p {
	font-size: 1.0em !important;
}

.content {
	background-color: #f8f8f8;
	padding: 1%;
}

.collapsibleList li{
  cursor:auto;
}

li.collapsibleListOpen{
  list-style-image:url('/assets/button-open.png');
  cursor:pointer;
}

li.collapsibleListClosed{
  list-style-image:url('/assets/button-closed.png');
  cursor:pointer;
}

li {
  line-height: 20px;
  min-height: 30px;
}

.breadcrumb {
  font-size: 1.4em;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand h2 {
  margin: 0;
  line-height: 50px;
}
