@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 12px;
  }
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #eee7dd;
}

.main-header, .main-footer {
}

.main-header .navbar {
  margin-bottom: 0px;
}

.main-footer {
    text-align: center;
    padding: 10px;
    color: #777;
}

.site-body {
	width: 100%;
}

.container {
  border-radius: 4px;
}

.content {
	background-color: #f8f8f8;
}

.collapsibleList li{
  cursor:auto;
}

li.collapsibleListOpen{
  list-style-image:url('/assets/button-open.png');
  cursor:pointer;
}

li.collapsibleListClosed{
  list-style-image:url('/assets/button-closed.png');
  cursor:pointer;
}

li {
  line-height: 20px;
  min-height: 30px;
}

.breadcrumb {
  font-size: 1.4em;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand h2 {
  font-size: 1.5em;
}

.navbar-brand h2 {
  margin: 0;
  line-height: 50px;
  margin-left: 5px;
}

.home > section {
  margin-top: 40px;
}

.home > section > h3 {
  margin-bottom: 40px;
}

.news li {
  font-size: 1.2em;
  font-weight: 200;
}

.new-testament .inner-container, .old-testament .inner-container {
  font-size: 1.4em;
}

.new-testament .panel-body, .old-testament .panel-body {
  font-weight: 200;
}

.about {
  font-size: 1.2em;
  font-weight: 200;
}

.book .inner-container {
  padding: 20px;
  font-size: 1.3em;
  font-weight: 200;  
}

.content .post {
  font-size: 1.2em;
}

.last-posts a {
  color: black;
}

.last-posts a:hover {
  text-decoration: none;
}

.last-posts .jumbotron p {
  font-size: 1.2em;
}

.blog {
  font-size: 1.2em; 
}


