html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #eee7dd;
}

.main-header, .main-footer {
}

.main-header .navbar {
  margin-bottom: 0px;
}

.main-footer {
    text-align: center;
    padding: 10px;
    color: #777;
}

.site-body {
	width: 100%;
}

.container {
  border-radius: 4px;
}

.content {
	background-color: #f8f8f8;
}

.collapsibleList li{
  cursor:auto;
}

li.collapsibleListOpen{
  list-style-image:url('/assets/button-open.png');
  cursor:pointer;
}

li.collapsibleListClosed{
  list-style-image:url('/assets/button-closed.png');
  cursor:pointer;
}

li {
  line-height: 20px;
  min-height: 30px;
}

.breadcrumb {
  font-size: 1.4em;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand h2 {
  margin: 0;
  line-height: 50px;
}

.home > section {
  margin-top: 40px;
}

.home > section > h3 {
  margin-bottom: 40px;
}

.news li {
  font-size: 21px;
  font-weight: 200;
}

.new-testament .inner-container, .old-testament .inner-container {
  font-size: 21px;
}

.new-testament .panel-body, .old-testament .panel-body {
  font-weight: 200;
}

.about {
  font-size: 18px;
  font-weight: 200;
}
