<header class="main-header">
    <div class="container navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" href="/">
                sobreoevangelho.net
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-header-collapse">
            <ul class="nav navbar-nav navbar-right main-navbar">
                <li id="home-selector"><a href="/home">Inicio</a></li>
                <li id="about-selector"><a href="/sobre">Sobre</a></li>
                <li id="new-testament-selector"><a href="/novo-testamento">Novo Testamento</a></li>
                <li id="old-testament-selector"><a href="/antigo-testamento">Antigo Testamento</a></li>
            </ul>
        </div>
    </div>
    <script>
        var id = '{{ include.param }}-selector';
        document.getElementById(id).className='active';
    </script>
</header>
