---
layout: default
---

{% include cabecalho.html param="{{ include.param }}" %}

<div class="content container">

    <article class="post">
    {{ content }}
    </article>

</div>

<script>

 	var SOE = SOE || {};

 	SOE.outline = function(elems) {

 		function hideNext(tagName, next) {
 			if (!next) return;
 			if (next.prop('tagName') === tagName) return;
 			next.toggleClass('hidden') && hideNext(tagName, next.next());
 		};

 		$.each(elems, function(i, obj) {
 			$(obj).bind('click', function() {
 				hideNext($(this).prop('tagName'), $(this).next());
 			});
 		});

 	};($('.post').find('*'));

</script>